<div class="col-md-6 mx-auto">
<div class="card text-center">
    <card class="header">
        <h3>Nuevo pedido</h3>
        <div class="card-body">
            <form action="/orders/new-order" method="POST">
                <form-group>
                    <select class="form-control form-control-sm" name="producto">
                    <option>Seleccione el producto</option>
                    <option>APIO</option>
                    <option>BROCOLI</option>
                    <option>CEBOLLA BLANCA</option>
                    <option>CEBOLLA CON TALLO</option>
                    <option>CEBOLLA MORADA</option>
                    <option>CEBOLLINES</option>
                    <option>CHILE JALAPEÑO</option>
                    <option>CHILE ROJO</option>
                    <option>CHILE VERDE</option>
                    <option>CILANTRO</option>
                      <option>COLIFLOR</option>
                    <option>EJOTE FRANCES</option>
                    <option>ELOTE DULCE</option>
                    <option>ESPARRAGO</option>
                    <option>ESPINACA</option>
                    <option>FRESAS</option>
                    <option>HIERBA BUENA</option>
                    <option>LECHUGA DE PALMITA</option>
                    <option>LECHUGA MORADA</option>
                    <option>LECHUGA REPOLLADA</option>
                      <option>LECHUGA ROMANA</option>
                    <option>MINIREPOLLO</option>
                    <option>OLOR MIXTO</option>
                    <option>PAPA LAVADA</option>
                    <option>PAPAYA MARADOL</option>
                    <option>PAPITA LIBRA</option>
                    <option>PEPINOS</option>
                    <option>PEREJIL LISO</option>
                    <option>PEREJIL COLOCHO</option>
                    <option>PLATANOS</option>
                      <option>PUERROS</option>
                    <option>RABANO</option>
                    <option>REPOLLO VERDE</option>
                    <option>REPOLLO MORADO</option>
                    <option>SUQUINI</option>
                    <option>TOMATE DE COCINA</option>
                    <option>TOMATE DE ENSALADA</option>
                    <option>ZANAHORIA</option>
                </select>
                </form-group>
                <form-group>
                    <input type="number" name="cantidad" class="form-control" placeholder="cantidad">
                </form-group>
                <form-group>
                    <button class="btn btn-primary btn-block">Agregar</button>
                </form-group>
            </form>
        </div>
    </card>
</div>
</div>