
<div class="jumbotron jumbotron-fluid">


  <div class="container">
    <h1 class="display-15 text-center" >VARIEDAD DE FRUTAS Y HORTALIZAS</h1>
     <img src="/img/garage.jpeg" class="rounded-circle mx-auto d-block m-1 logoindex" >
    <p class="lead text-center">VERIFICA LOS PRECIOS PARA ESTA SEMANA INGRESANDO CON TU USUARIO Y CLAVE, ESTAMOS PARA SERVIRTE</p>
  </div>
 
</div>
