
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-15 text-center" >VARIEDAD DE FRUTAS Y HORTALIZAS</h1>
     <img src="/img/garage.jpeg" class="rounded-circle mx-auto d-block m-1 logoindex" >
    <p class="lead text-center">VERIFICA LOS PRECIOS DE MAYOREO Y DETALLE PARA ESTA SEMANA INGRESANDO CON TU USUARIO Y CLAVE, ESTAMOS PARA SERVIRTE</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >CEBOLLA BLANCA</h1>
     <img src="/img/cebolla.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >COLIFLOR</h1>
     <img src="/img/coliflor.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >EJOTE FRANCES</h1>
     <img src="/img/ejote.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >PAPAYA MARADOL</h1>
     <img src="/img/papaya.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >RABANO MANOJO</h1>
     <img src="/img/rabano.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >ZANAHORA</h1>
     <img src="/img/zana-hoja.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >REPOLLO</h1>
     <img src="/img/repollo.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >TOMATE COCINA</h1>
     <img src="/img/tomate.jpeg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-15 text-center" >TOMATE ENSALADA</h1>
     <img src="/img/tomatensalada.jpg" class="mx-auto d-block m-1 logoindex" >
  </div>
</div>
