<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">PRODUCTO</th>
      <th scope="col">PRESENTACION</th>
      <th scope="col">PRECIO MAYOREO</th>
      <th scope="col">PRECIO DETALLE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">APIO</th>
      <td>CAJA</td>
      <td>$11.00</td>
      <td>$0.35</td>
    </tr>
    <tr>
      <th scope="row">BROCOLI</th>
      <td>CAJA 15-20 LBS</td>
      <td>$12</td>
      <td>$0.30</td>
    </tr>
    <tr>
      <th scope="row">CEBOLLA BLANCA</th>
      <td >SACO</td>
      <td>$15</td>
      <td>$0.39</td>
    </tr>
      <tr>
      <th scope="row">CEBOLLA CON TALLO</th>
      <td >MANOJO</td>
      <td>$--</td>
      <td>$0.29</td>
    </tr>
      <tr>
      <th scope="row">CEBOLLA MORADA</th>
      <td >LIBRA</td>
      <td>$--</td>
      <td>$0.58</td>
    </tr>
      <tr>
      <th scope="row">CEBOLLINES</th>
      <td >MANOJO</td>
      <td>$--</td>
      <td>$0.29</td>
    </tr>
      <tr>
      <th scope="row">CHILE JALAPEÑO</th>
      <td >SACO</td>
      <td>$25</td>
      <td>$0.40</td>
    </tr>
      <tr>
      <th scope="row">CHILE ROJO</th>
      <td >UNIDAD</td>
      <td>$--</td>
      <td>$0.27</td>
    </tr>
      <tr>
      <th scope="row">CHILE VERDE</th>
      <td >SACO</td>
      <td>$13</td>
      <td>$0.20</td>
    </tr>
      <tr>
      <th scope="row">CILANTRO</th>
      <td >MANOJO</td>
      <td>$--</td>
      <td>$0.35</td>
    </tr>
      <tr>
      <th scope="row">COLIFLOR</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">EJOTE FRANCES</th>
      <td >SACO</td>
      <td>$15</td>
      <td>$0.63</td>
    </tr>
     <tr>
      <th scope="row">ELOTE DULCE</th>
      <td >BOLSA 15 UNDS</td>
      <td>$13</td>
      <td>$0.68</td>
    </tr>
     <tr>
      <th scope="row">ESPARRAGO</th>
      <td >MANOJO</td>
      <td>$--</td>
      <td>$2.93</td>
    </tr>
     <tr>
      <th scope="row">ESPINACA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">FRESAS</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">HIERBA BUENA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">LECHUGA DE PALMITA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">LECHUGA MORADA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">LECHUGA REPOLLADA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">LECHUGA ROMANA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">MINIREPOLLO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">OLOR MIXTO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PAPA LAVADA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PAPAYA MARADOL</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PAPITA LIBRA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PEPINOS</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PEREJIL LISO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PEREJIL COLOCHO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PLATANO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">PUERROS</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">RABANO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">REPOLLO VERDE</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">REPOLLO MORADO</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">SIQUINI</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">TOMATE DE COCINA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">TOMATE ENSALADA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
     <tr>
      <th scope="row">ZANAHORIA</th>
      <td >BULTO</td>
      <td>$10</td>
      <td>$0.40</td>
    </tr>
  </tbody>
</table>
<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between align-items-center"><h1>{{title}} </h1><a href="notes/edit/{{_id}}"><i class="fa fa-pencil"></i></a></div>
                <h1>{{description}}</h1>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button></form>
                <input type="hidden" name="_method" value="DELETE">
            </div>
        </div>
    </div>
    {{/each}}
</div>




